body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    color: #0A0A0A;

    justify-content: center;
    align-items: center;

    gap: 40px;
}

#choice-box {
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
}

#choice-box > button {
    display: flex;
    width: 300px;
    height: 200px;

    justify-content: center;
    align-items: center;
    font-size: 3em;

    color: #0A0A0A;

    border: none;
    background-color: transparent;
}

.text {
    color: rgba(126, 135, 135, 0.66);
    font-size: 1.05em;
    margin: 7px;
}

#footer {
    position: absolute;
    bottom: 35px;
}

a {
    color: rgba(60, 135, 135, 0.66);
}