body {
    overflow: hidden;
}

#whiteboard {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.titlebar {
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#titlebar-visual {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 80px;
    top: -120px;
    background-color: rgba(143, 170, 176, 0.5);

    transition: transform 85ms ease-out;
}

.titlebar:hover #titlebar-visual {
    transform: translateY(120px);
}

.window-control {
    width: 48px;
    height: 48px;

    border: 0;
    border-radius: 24px;
    background-color: rgba(176, 219, 219, 0);

    transition: transform 50ms ease, background-color 50ms ease;

    z-index: 100;
}

.window-control:is(:hover, :focus) {
    background-color: rgba(176, 219, 219, 0.4);
    transform: rotate(90deg);
}

#general-context-menu {
    position: relative;
    width: 0;
    height: 0;
    display: none;
}

#note-and-notepad-context-menu {
    position: relative;
    width: 0;
    height: 0;
    display: none;
}

.option-control {
    position: absolute;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 5px 10px;
    
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 140ms ease;

    z-index: 100;
}

.option-control:is(:hover, :focus) {
    transform: translate(-50%, -50%) scale(1.15);
}