$whiteboard-color: #f8f8f8;
$rich-black: #0A0A0A;

$index-5: 5;
$index-10: 10;
$index-15: 15;
$index-20: 20;
$index-25: 25;

#titlebar-visual {
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    height: 80px;
    background-color: rgba(143, 170, 176, 0.5);

    z-index: $index-25;
}

.window-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    flex: 1;

    user-select: none;

    background-color: transparent;
    border: 0;

    transition: transform 100ms ease;

    z-index: $index-20;
}

.window-control > img {
    width: 22.4px;
    height: 22.4px;
    margin: 0;
    padding: 0;
}

.window-control:is(:hover, :focus) {
    transform: scale(1.5);
}

.titlebar-stretcher {
    flex: 1;
    flex-grow: 3.5;
}