<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer-configs</title>
    <link rel="stylesheet" href="../../../../dist/main/utilities.css">
    <link rel="stylesheet" href="../../../../dist/main/titlebar-style.css">
    <link rel="stylesheet" href="../../../../dist/main/styles.css">
    <link rel="stylesheet" href="../../../../dist/main/prompts/configs/configs.css">
</head>
<body>
    <%- include('../titlebars/prompts/first-time/lock') %>

    <div id="wb-movement">
        <div id="wb-zoom">
            <div id="configs" class="context-menu-container">
                <!-- CFG-F -->
                <div id="cfg-sect-f" class="absolute dimensionless">
                    <button id="cfg-f" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Functional
                    </button>
                    <div id="f-menu" class="absolute dimensionless">
                        <button id="f-theme" class="absolute cfg-opt component option-control-trans-long">
                            Theme
                        </button>
                    </div>
                </div>
                
                <!-- CFG-N -->
                <div id="cfg-sect-n" class="absolute dimensionless">
                    <button id="cfg-n" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Notes
                    </button>
                    <div id="n-menu" class="absolute dimensionless">
                        <button id="n-border-colour" class="absolute cfg-opt component option-control-trans-long">
                            Border colour
                        </button>
                        <button id="n-border-line-pattern" class="absolute cfg-opt component option-control-trans-long">
                            Border line pattern
                        </button>
                        <button id="n-background-fill" class="absolute cfg-opt component option-control-trans-long">
                            Background fill
                        </button>
                        <button id="n-text-colour" class="absolute cfg-opt component option-control-trans-long">
                            Text colour
                        </button>
                        <button id="n-border-placement" class="absolute cfg-opt component option-control-trans-long">
                            Border placement
                        </button>
                        <button id="n-initial-content" class="absolute cfg-opt component option-control-trans-long">
                            Initial content
                        </button>
                    </div>
                </div>

                <!-- CFG-W -->
                <div id="cfg-sect-w" class="absolute dimensionless">
                    <button id="cfg-w" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Whiteboards
                    </button>
                    <div id="w-menu" class="absolute dimensionless">
                        <button id="w-keybinds-guide" class="absolute cfg-opt component option-control-trans-long">
                            Keybinds guide
                        </button>
                    </div>
                </div>
                
                <!-- CFG-P -->
                <div id="cfg-sect-p" class="absolute dimensionless">
                    <button id="cfg-p" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Notepads
                    </button>
                    <div id="p-menu" class="absolute dimensionless">
                        <button id="p-keybinds-guide" class="absolute cfg-opt component option-control-trans-long">
                            Keybinds guide
                        </button>
                    </div>
                </div>

                <!-- CFG-A -->
                <div id="cfg-sect-a" class="absolute dimensionless">
                    <button id="cfg-a" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Paths
                    </button>
                    <div id="a-menu" class="absolute dimensionless">
                        <button id="a-pattern" class="absolute cfg-opt component option-control-trans-long">
                            Pattern
                        </button>
                        <button id="a-shape" class="absolute cfg-opt component option-control-trans-long">
                            Shape
                        </button>
                        <button id="a-colour" class="absolute cfg-opt component option-control-trans-long">
                            Colour
                        </button>
                    </div>
                </div>
                
                <!-- CFG-I -->
                <div id="cfg-sect-i" class="absolute dimensionless">
                    <button id="cfg-i" class="cfg-sect option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        Internal
                    </button>
                    <div id="i-menu" class="absolute dimensionless">
                        <button id="i-saves-path" class="absolute cfg-opt component option-control-trans-long">
                            Saves path
                        </button>
                        <button id="i-keybinds" class="absolute cfg-opt component option-control-trans-long">
                            Keybinds
                        </button>
                        <button id="i-keybinds-opt1" class="absolute cfg-opt component option-control-trans-long">
                            Show number of direct parents
                        </button>
                        <button id="i-keybinds-opt2" class="absolute cfg-opt component option-control-trans-long">
                            Show number of direct children
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="../../../../dist/main/prompts/configs/configs-renderer.js"></script>
</body>
</html>