<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer-configs</title>
    <link rel="stylesheet" href="../../titlebar-style.css">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="configs.css">
</head>
<body>
    <%- include('../titlebars/prompts/first-time/lock') %>

    <div id="cfg-itag-field">
        <button id="cfg-itag"><img src="../../../../res/info-tag-mvboli.png"></button>
    </div>

    <div id="configs" class="context-menu-container">
        <button id="cfg-templates" class="option-control-style option-control-trans-long text-large option-control-layout">
            templates
        </button>
        <button id="cfg-n" class="option-control-style option-control-trans-long text-large option-control-layout">
            notes
        </button>
        <button id="cfg-w" class="option-control-style option-control-trans-long text-large option-control-layout">
            whiteboards
        </button>
        <button id="cfg-p" class="option-control-style option-control-trans-long text-large option-control-layout">
            notepads
        </button>
        <button id="cfg-internal" class="option-control-style option-control-trans-long text-large option-control-layout">
            internal
        </button>
    </div>
    
    <p id="cfg-abst-templates" class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0 cfg-abst">
        Configurations' layouts and unsaved deviations from the active layout.
    </p>
    <p id="cfg-abst-n" class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0 cfg-abst">
        Styling of notes.
    </p>
    <p id="cfg-abst-w" class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0 cfg-abst">
        Styling of whiteboards.
    </p>
    <p id="cfg-abst-p" class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0 cfg-abst">
        Styling of notepads.
    </p>
    <p id="cfg-abst-internal" class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0 cfg-abst">
        Configurations related to the state of the application and unrelated to style. For example, paths of saves and keybinds.
        Any layout encapsulates these changes, too.
    </p>

    <div id="cfg-menu-templates" class="cfg-menus">
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            Keybinds guide
            <button>On/Off</button>
        </div>
        
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            Theme
            <button>Light</button>
            <button>Dark</button>
        </div>
    </div>
    <div id="cfg-menu-n" class="cfg-menus">
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            You caught me! Haven't decided on the configurations for this element yet, tho check out others! You might find some configs idkkk.
        </div>
    </div>
    <div id="cfg-menu-w" class="cfg-menus">
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            To configure or not to configure? Always configure, it is your own.
        </div>
    </div>
    <div id="cfg-menu-p" class="cfg-menus">
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            I had some configurations in mind but now, I have forgor.
        </div>
    </div>
    <div id="cfg-menu-internal" class="cfg-menus">
        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            Saves path
            <div>path</div>
        </div>

        <div class="option-control-style option-control-layout option-control-trans-short margin-0 padding-0">
            Keybinds
            <div>Show number of direct parents
                <button>x</button>
            </div>
            <div>Show number of direct children
                <button>y</button>
            </div>
        </div>
    </div>

    <script src="../../../runtime/logger.js"></script>
    <script src="../../../runtime/error-handler.js"></script>
    <script src="../../../runtime/numerics.js"></script>
    <script src="../../../runtime/states-handler.js"></script>
    <script src="../../../ui/titlebars/titlebar.js"></script>
    <script src="../../../ui/titlebars/whiteboard/lock.js"></script>
    <script src="../../../ui/context-menus/context-menu-handler.js"></script>
    <script src="../../../instantiable-components/component-handler.js"></script>
    <script src="../../../instantiable-components/path.js"></script>
    <script src="../../../ui/keybinds.js"></script>
    <script src="../../../ui/zoom-whiteboard.js"></script>
    <script src="../../../ui/positioning/mouse-drag-calc.js"></script>
    <script src="../../../ui/positioning/window-positioning.js"></script>
    <script src="../../../ui/positioning/whiteboard-positioning.js"></script>
    <script src="../../../ui/configs-menu/config-abstract.js"></script>
    <script src="../../../ui/configs-menu/config-info-tag.js"></script>
    <script src="../../../ui/configs-menu/configs.js"></script>
    <script src="configs-renderer.js"></script>
</body>
</html>