<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer-configs</title>
    <link rel="stylesheet" href="../../../../dist/main/utilities.css">
    <link rel="stylesheet" href="../../../../dist/main/titlebar-style.css">
    <link rel="stylesheet" href="../../../../dist/main/styles.css">
    <link rel="stylesheet" href="../../../../dist/main/prompts/configs/configs.css">
</head>
<body>
    <%- include('../titlebars/prompts/first-time/lock') %>

    <div id="wb-movement">
        <div id="wb-zoom">
            <div id="configs" class="context-menu-container">
                <!-- CFG-F -->
                <div id="cfg-sect-f" class="absolute dimensionless">
                    <button id="cfg-f" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        functional
                    </button>
                    <div id="f-menu" class="absolute dimensionless">
                        <button id="f-theme" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                            Theme
                        </button>
                    </div>
                </div>
                
                <!-- CFG-N -->
                <div id="cfg-sect-n" class="absolute dimensionless">
                    <button id="cfg-n" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        notes
                    </button>
                </div>

                <!-- CFG-W -->
                <div id="cfg-sect-w" class="absolute dimensionless">
                    <button id="cfg-w" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        whiteboards
                    </button>
                    <div id="w-menu" class="absolute dimensionless">
                        <button id="w-keybinds-guide" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                            Keybinds guide
                        </button>
                    </div>
                </div>
                
                <!-- CFG-P -->
                <div id="cfg-sect-p" class="absolute dimensionless">
                    <button id="cfg-p" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        notepads
                    </button>
                    <div id="p-menu" class="absolute dimensionless">
                        <button id="p-keybinds-guide" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                            Keybinds guide
                        </button>
                    </div>
                </div>
                
                <!-- CFG-I -->
                <div id="cfg-sect-i" class="absolute dimensionless">
                    <button id="cfg-i" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                        internal
                    </button>
                    <div id="i-menu" class="absolute dimensionless">
                        <button id="i-saves-path" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                            Saves path
                        </button>
                        <div id="i-keybinds-menu" class="absolute dimensionless">
                            <button id="i-keybinds" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                                Keybinds
                            </button>
                            <button id="i-keybinds-opt1" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                                Show number of direct parents
                            </button>
                            <button id="i-keybinds-opt2" class="option-control-style option-control-trans-long text-large option-control-layout cfg-sect">
                                Show number of direct children
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="../../../../dist/main/prompts/configs/configs-renderer.js"></script>
</body>
</html>