<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer-prompt-link</title>
    <link rel="stylesheet" href="../../../dev/titlebars/prompts/link/titlebar-style.css">
    <link rel="stylesheet" href="link.css">
</head>
<body>
    <%- include('../titlebars/prompts/link/mover') %>

    <div id="cover"></div>

    <webview id="webview"></webview>

    <script type="module" src="link.js"></script>
</body>
</html>