$whiteboard-color: #f8f8f8;

$low-index: 5;
$medium-index: 10;
$higher-index: 15;
$highest-index: 20;

body {
    overflow: hidden;
}

#whiteboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: $whiteboard-color;

    z-index: $low-index;
}

#keybind-guide {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 0px;
    bottom: 0px;

    z-index: $low-index;
}

#keybind-container {
    display: flex;
    width: 190px;
    height: 90px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.keybind-text {
    color: rgba(126, 135, 135, 0.33);
    font-size: 1.05em;
    margin: 7px;

    transition: color 140ms linear;

    user-select: none;
}

#keybind-guide-close {
    position: absolute;
    bottom: 80px;
    right: 5px;
    margin: 7px;
    border: none;
    background-color: transparent;

    font-size: 1.05em;

    transition: color 230ms linear;

    user-select: none;
}

.titlebar {
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
    z-index: $higher-index;
}

.path-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

svg {
    overflow: visible;
}

#titlebar-visual {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    height: 80px;
    transform: translateY(-80px);
    background-color: rgba(143, 170, 176, 0.5);

    transition: transform 85ms ease-out;
}

.titlebar:hover #titlebar-visual {
    transform: translateY(0px);
}

.window-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    flex: 1;

    user-select: none;

    background-color: rgba(0, 0, 0, 0);
    border: 0;

    transition: transform 100ms ease;

    z-index: $highest-index;
}

.window-control > img {
    width: 22.4px;
    height: 22.4px;
    margin: 0;
    padding: 0;
}

.window-control:is(:hover, :focus) {
    transform: scale(1.5);
}

.titlebar-stretcher {
    flex: 1;
    flex-grow: 3.5;
}

.context-menu-container {
    display: none;
    position: relative;
    width: 0;
    height: 0;
}

.option-control {
    position: absolute;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 5px 10px;
    
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;

    transform: translate(-50%, -50%);

    z-index: $highest-index;
}

.note {
    position: absolute;
    min-width: 80px;
    min-height: 25.65px;
    border-radius: 5px;
    padding: 2px;

    background-color: $whiteboard-color;
    border: 2px solid #dadada;

    z-index: $medium-index;
}

.note-border {
    position: absolute;
    background: #333;
    z-index: 2;
}
.note-border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px 3px 0 0;
    cursor: ns-resize;
}
.note-border-right {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    border-radius: 0 3px 3px 0;
    cursor: ew-resize;
}
.note-border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 0 0 3px 3px;
    cursor: ns-resize;
}
.note-border-left {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 3px 0 0 3px;
    cursor: ew-resize;
}

path {
    pointer-events: stroke;
}

.path-end {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

    border: 2px solid #dadada;
    background-color: transparent;

    user-select: none;

    transform: translate(-50%, -50%);

    z-index: $medium-index;
}

.ql-editor {
    padding: 0px;
}

.ql-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.ql-editor > p {
    margin: 0px;
}