$whiteboard-color: #f8f8f8;
$semi-imp-text-color: rgb(108, 116, 116);
$unimp-text-color: rgba(126, 135, 135, 0.33);

$index-5: 5;
$index-10: 10;
$index-15: 15;
$index-20: 20;
$index-25: 25;
$index-30: 30;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    background-color: $whiteboard-color;

    overflow: hidden;
}

#window-component-id {
    position: absolute;
    top: 20px;
    right: 10px;

    user-select: none;

    transition: transform 85ms ease-out;

    z-index: $index-10;
}

#parent-whiteboard {
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform-origin: 0 0;

    transition: transform 150ms ease-out;

    z-index: $index-5;
}

.component-text {
    font-size: 0.9rem;
}

#keybind-guide {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 0px;
    bottom: 0px;

    z-index: $index-5;
}

#keybind-container {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.im-whiteboard-text {
    color: $unimp-text-color;
    margin: 7px;
}

.keybind-text {
    transition: color 140ms linear;

    user-select: none;
}

#keybind-guide-close {
    position: absolute;
    bottom: 140px;
    right: 0px;
    margin: 7px;
    border: none;
    background-color: transparent;

    user-select: none;
}

#kbn-gd-cl-img {
    width: 10px;
    height: auto;

    opacity: 0;

    transition: opacity 230ms linear;
}

.context-menu-container {
    display: none;
    position: relative;
    width: 0;
    height: 0;

    font-size: 0.85rem;

    transition: left 240ms ease, top 240ms ease;
}

.option-control-style {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    background-color: transparent;
    border: 1px solid;
    border-color: rgb(97, 97, 97);

    user-select: none;

    transform: translate(-50%, -50%);

    backdrop-filter: blur(2px) opacity(0);
    
    transition: backdrop-filter 170ms ease-out, transform 170ms ease, left 170ms ease, top 170ms ease, color 170ms ease-out, border-color 170ms ease-out;

    z-index: $index-20;
}

.text-small {
    font-size: 0.7rem;
}

.text-win-id {
    font-size: 1.05rem;
}

.text-kbn-guide {
    font-size: 0.8rem;
}

.text-large {
    font-size: 1.5rem;
}

.option-control-layout {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
}

.notepad, .whiteboard, .note, .path-container {
    transition: filter 230ms ease-out;
}

.notepad, .whiteboard, .note, .open-window {
    background-color: $whiteboard-color;
}

.notepad, .whiteboard, .open-window {
    position: absolute;

    border: 1px solid black; 
}

.notepad, .whiteboard {
    width: fit-content;
    height: fit-content;
    min-width: 60px;
    min-height: 60px;
    padding: 2px;

    z-index: $index-10;
}

.open-window {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 8px;

    flex-direction: column;

    overflow: hidden;

    transform: scale(1);

    user-select: none;

    border: 2px solid grey;
    background: none;

    transition: transform 100ms ease-out;

    z-index: $index-15;
}

.open-window img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.open-window div {
    color: $semi-imp-text-color;
    margin: 5px 0px;
}

.notepad, .whiteboard, .open-window {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.note {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    line-height: 20px;
    min-height: 20px;

    outline: none;

    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    font-size: 1em;

    z-index: $index-10;
}

.note-container {
    position: absolute;
    min-width: 20px;
    width: fit-content;
    min-height: 20px;
    height: fit-content;
    margin: 0px;
    padding: 0px 5px;

    border-left: 1px solid black;
    border-right: 1px solid black;

    outline: none;

    z-index: $index-10;
}

.note-border {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.note-border-right {
    right: 0;
    width: 3px;
    cursor: ew-resize;
}

.note-border-left {
    left: 0;
    width: 3px;
    cursor: ew-resize;
}

.path-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

svg {
    overflow: visible;
}

path {
    pointer-events: stroke;
}

.path-end {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

    border: 2px solid #dadada;
    background-color: transparent;

    user-select: none;

    transform: translate(-50%, -50%);

    z-index: $index-10;
}

#cfg-blur {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;

    pointer-events: none;

    background: transparent;
    backdrop-filter: blur(4px) opacity(0);
    
    z-index: $index-15;

    transition: backdrop-filter 100ms ease;
}

#configs {
    display: none;
    position: fixed;
    width: 90vw;
    height: 50vh;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;

    z-index: $index-20;
}

.cfg-style {
    padding: 10px;
    background-color: $whiteboard-color;
    border: 1px double;
    border-color: black;

    transition:  transform 100ms ease, color 100ms ease-out, border-color 100ms ease-out;
}

.cfg-flex {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    flex: 1 1 0;
}

.cfg-abst {
    display: none;
    overflow-wrap: break-word;
    align-self: center;

    padding: 10px;
    background-color: $whiteboard-color;
}

#cfg-itag, #cfg-itag-field {
    display: none;
    position: absolute;
    transform: translateY(-50%);
}

#cfg-itag-field {
    z-index: $index-25;
}

#cfg-itag {
    background: transparent;
    border: transparent;

    pointer-events: auto;
    z-index: $index-30;
}

#cfg-itag > img, .cfg-abst-exit > img {
    width: 16px;
    height: auto;
}

.cfg-abst-exit {
    display: none;
    position: absolute;

    background: transparent;
    border: transparent;

    z-index: $index-25;
}