$whiteboard-color: #f8f8f8;
$semi-imp-text-color: rgb(108, 116, 116);
$unimp-text-color: rgba(126, 135, 135, 0.33);

$low-index: 5;
$medium-index: 10;
$higher-index: 15;
$highest-index: 20;

body {
    overflow: hidden;
}

#window-component-id {
    position: absolute;
    top: 20px;
    right: 10px;

    user-select: none;

    transition: transform 85ms ease-out;

    z-index: $medium-index;
}

#parent-whiteboard {
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform-origin: 0 0;

    transition: transform 150ms ease-out;

    z-index: $low-index;
}

#keybind-guide {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 0px;
    bottom: 0px;

    z-index: $low-index;
}

#keybind-container {
    display: flex;
    width: 190px;
    height: 190px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.im-whiteboard-text {
    color: $unimp-text-color;
    font-size: 1.05em;
    margin: 7px;
}

.keybind-text {
    transition: color 140ms linear;

    user-select: none;
}

#keybind-guide-close {
    position: absolute;
    bottom: 180px;
    right: 5px;
    margin: 7px;
    border: none;
    background-color: transparent;

    font-size: 1.05em;

    user-select: none;

    transition: color 230ms linear;
}

.context-menu-container {
    display: none;
    position: relative;
    width: 0;
    height: 0;

    transition: left 240ms ease, top 240ms ease;
}

.option-control-style {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    border: 3px double;
    border-color: rgb(97, 97, 97);

    user-select: none;

    transform: translate(-50%, -50%);
    
    transition: transform 240ms ease, left 240ms ease, top 240ms ease, color 250ms ease-out, border-color 250ms ease-out;

    z-index: $highest-index;
}

.option-control-layout {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
}

.notepad, .whiteboard, .note, .path-container {
    transition: filter 230ms ease-out;
}

.notepad, .whiteboard, .note, .open-window {
    position: absolute;

    background-color: white;
}

.notepad, .whiteboard, .open-window {
    border: 2px solid #dadada; 
}

.notepad, .whiteboard {
    width: fit-content;
    height: fit-content;
    min-width: 60px;
    min-height: 60px;
    padding: 2px;

    border: 2px double black;

    z-index: $medium-index;
}

.open-window {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 8px;

    flex-direction: column;

    overflow: hidden;

    transform: scale(1);

    user-select: none;

    border: 2px solid grey;
    background: none;

    transition: transform 100ms ease-out;

    z-index: $higher-index;
}

.open-window img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.open-window div {
    color: $semi-imp-text-color;
    margin: 5px 0px;
}

.notepad, .whiteboard, .open-window {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.note {
    min-width: 20px;
    width: fit-content;
    min-height: 20px;
    margin: 0px;
    padding: 0px 5px;

    border-left: 1px solid black;
    border-right: 1px solid black;

    outline: none;

    z-index: $medium-index;
}

.note-border {
    position: absolute;
    z-index: 2;
}

.note-border-right {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    border-radius: 0 3px 3px 0;
    cursor: ew-resize;
}

.note-border-left {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 3px 0 0 3px;
    cursor: ew-resize;
}

.path-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

svg {
    overflow: visible;
}

path {
    pointer-events: stroke;
}

.path-end {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

    border: 2px solid #dadada;
    background-color: transparent;

    user-select: none;

    transform: translate(-50%, -50%);

    z-index: $medium-index;
}