<div id="configs">
    <button id="configs-templates" class="option-control-style">
        templates
    </button>
    <button id="configs-notes" class="option-control-style">
        notes
    </button>
    <button id="configs-whiteboards" class="option-control-style">
        whiteboards
    </button>
    <button id="configs-notepads" class="option-control-style">
        notepads
    </button>
    <button id="configs-internal" class="option-control-style">
        internal
    </button>
</div>