<div id="cfg-itag-field">
    <button id="cfg-itag"><img src="../../res/info-tag-mvboli.png"></button>
</div>

<button id="cfg-abst-templates-exit" class="cfg-abst-exit"><img src="../../res/config-close.png"></button>
<button id="cfg-abst-n-exit" class="cfg-abst-exit"><img src="../../res/config-close.png"></button>
<button id="cfg-abst-w-exit" class="cfg-abst-exit"><img src="../../res/config-close.png"></button>
<button id="cfg-abst-p-exit" class="cfg-abst-exit"><img src="../../res/config-close.png"></button>
<button id="cfg-abst-internal-exit" class="cfg-abst-exit"><img src="../../res/config-close.png"></button>
<div id="configs">
    <div class="cfg-flex">
        <button id="cfg-templates" class="cfg-style text-large">
            templates
        </button>
        <div id="cfg-abst-templates" class="cfg-abst">
            Configurations' layouts and unsaved deviations from the active layout.
        </div>
    </div>
    <div class="cfg-flex">
        <button id="cfg-n" class="cfg-style text-large">
            notes
        </button>
        <div id="cfg-abst-n" class="cfg-abst">
            Styling of notes.
        </div>
    </div>
    <div class="cfg-flex">
        <button id="cfg-w" class="cfg-style text-large">
            whiteboards
        </button>
        <div id="cfg-abst-w" class="cfg-abst">
            Styling of whiteboards.
        </div>
    </div>
    <div class="cfg-flex">
        <button id="cfg-p" class="cfg-style text-large">
            notepads
        </button>
        <div id="cfg-abst-p" class="cfg-abst">
            Styling of notepads.
        </div>
    </div>
    <div class="cfg-flex">
        <button id="cfg-internal" class="cfg-style text-large">
            internal
        </button>
        <div id="cfg-abst-internal" class="cfg-abst">
            Configurations related to the state of the application and unrelated to style. For example, paths of saves and keybinds.
            Any layout encapsulates these changes, too.
        </div>
    </div>
</div>

<div id="cfg-menu-templates" class="cfg-menus">

</div>
<div id="cfg-menu-n" class="cfg-menus">

</div>
<div id="cfg-menu-w" class="cfg-menus">

</div>
<div id="cfg-menu-p" class="cfg-menus">

</div>
<div id="cfg-menu-internal" class="cfg-menus">

</div>