<button id="configs-infotag"></button>

<div id="configs">
    <button id="configs-templates" class="option-control-style">
        templates
    </button>
    <button id="configs-notes" class="option-control-style">
        notes
    </button>
    <button id="configs-whiteboards" class="option-control-style">
        whiteboards
    </button>
    <button id="configs-notepads" class="option-control-style">
        notepads
    </button>
    <button id="configs-internal" class="option-control-style">
        internal
    </button>
</div>

<div id="configs-abstract-templates">
    Configurations' layouts and unsaved deviations from the active layout.
</div>
<div id="configs-abstract-notes">
    Styling of notes.
</div>
<div id="configs-abstract-whiteboards">
    Styling of whiteboards.
</div>
<div id="configs-abstract-notepads">
    Styling of notepads.
</div>
<div id="configs-abstract-internal">
    Configurations related to the state of the application and unrelated to style. For example, paths of saves.
    Any layout encapsulates these changes, too.
</div>

<div id="configs-menu-templates">

</div>
<div id="configs-menu-notes">

</div>
<div id="configs-menu-whiteboards">

</div>
<div id="configs-menu-notepads">

</div>
<div id="configs-menu-internal">

</div>