<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer-prompt-link</title>
    <link rel="stylesheet" href="../../titlebar-style.css">
    <link rel="stylesheet" href="link.css">
</head>
<body>
    <%- include('titlebar-prompts-dir') %>

    <webview id="webview"></webview>

    <script src="../../../runtime/states-handler.js"></script>
    <script src="../../../ui/titlebar.js"></script>
    <script src="link.js"></script>
</body>
</html>