<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderer</title>
    <link rel="stylesheet" href="../main/titlebar-style.css">
    <link rel="stylesheet" href="../main/styles.css">
</head>
<body>
    <p id="window-component-id" class="im-whiteboard-text text-win-id"></p>

    <%- include('titlebars/whiteboard/lock') %>

    <div class="context-menu-container cm-logic" id="general-context-menu">
        <button class="option-control-style option-control-trans-short text-small option-control-layout gcm" id="gcm-new-whiteboard">New Whiteboard</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout gcm" id="gcm-new-note">New Note</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout gcm" id="gcm-new-notepad">New Notepad</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout gcm" id="gcm-new-connection">New Connection</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout gcm" id="gcm-paste">Paste</button>
    </div>
    <div class="context-menu-container cm-logic" id="element-context-menu">
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-copy">Copy</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-delete">Delete</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-cut">Cut</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-style">Style</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-connect">Connect</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout npcm" id="ecm-disconnect">Disconnect</button>
    </div>
    <div class="context-menu-container cm-logic" id="path-context-menu">
        <button class="option-control-style option-control-trans-short text-small option-control-layout acm" id="acm-delete">Delete</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout acm" id="acm-style">Style</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout acm" id="acm-connect">Connect</button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout acm" id="acm-disconnect">Disconnect</button>
    </div>
    <div class="context-menu-container cm-logic" id="titlebar-context-menu">
        <button class="option-control-style option-control-trans-short text-small option-control-layout fullscreen-window tcm" id="tcm-fullscreen-window"><img src="../../res/fullscreen-window.png"></button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout maximize-window tcm" id="tcm-maximize-window"><img src="../../res/maximize-window.png"></button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout minimize-window tcm" id="tcm-minimize-window"><img src="../../res/minimize-window.png"></button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout close-window tcm" id="tcm-close-window"><img src="../../res/close-window.png"></button>
        <button class="option-control-style option-control-trans-short text-small option-control-layout global-config tcm" id="tcm-global-config-menu"><img src="../../res/global-configuration.png"></button>
    </div>

    <div id="wb-movement">
        <div id="wb-zoom">
        </div>
    </div>

    <button class="path-end pathconnector-logic" id="path-end-0">
        <div id="path-end-inner-0" class="path-end-inner"></div>
    </button>
    <button class="path-end pathconnector-logic" id="path-end-1">
        <div id="path-end-inner-1" class="path-end-inner"></div>
    </button>
    <button class="path-end pathconnector-logic" id="path-end-2">
        <div id="path-end-inner-2" class="path-end-inner"></div>
    </button>

    <div id="keybind-guide">
        <button id="keybind-guide-close"><img id="kbn-gd-cl-img" src="../../res/config-close.png"></button>
        <div id="keybind-container">
            <p class="keybind-text im-whiteboard-text text-kbn-guide">Ctrl + 1: titlebar menu</p>
            <p class="keybind-text im-whiteboard-text text-kbn-guide">Ctrl + 2: tabs</p>
            <p class="keybind-text im-whiteboard-text text-kbn-guide">Ctrl + X: shut down</p>
            <p class="keybind-text im-whiteboard-text text-kbn-guide">Shift + W: drag window</p>
            <p class="keybind-text im-whiteboard-text text-kbn-guide">Shift + S: resize window</p>
        </div>
    </div>

    <script type="module" src="whiteboard-renderer.js"></script>
</body>
</html>